{{define "editor"}}
  <div id="app-container">
    <div id="app-pane-left">
      <textarea id="text-editor" spellcheck="false"></textarea>
    </div>
    <div id="app-pane-right">
      <div id="text-output"></div>
    </div>
    <div class="modal-overlay hidden">
      <div class="modal-symbol-ctr"></div>
    </div>
    <div id="app-footers">
      <div id="toolbar-editor">
        <button id="modal-symbol-btn" class="material-symbols-outlined">search</button>
      </div>
      <div id="toolbar-preview"></div>
    </div>
  </div>
  <script type="module" src="./client/bundle/editor.js"></script>
{{end}}
