{{define "symbol-table"}}
<div id="search-container">
  hello world
</div>
<div id="table-container"> 
<table id="symbol-table">
  <tbody>
    <tr>
      <td>R1, C1</td>
      <td>R1, C2</td>
    </tr>
    <tr>
      <td>R2, C1</td>
      <td>R2, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
    <tr>
      <td>R10, C1</td>
      <td>R10, C2</td>
    </tr>
 </tbody>
</table>
</div>
<div id="search-preview">HELLO WORLD</div>
<div id="symbol-footer">HELLO WORLD</div>
{{end}}
