/* SOLARIZED */
:root {
    --my-black: #002b36;
    --my-blue: #073642;
    --my-light-blue: #268bd2;
    --my-cyan: #2aa198;
    --my-green: #859900;
    --my-dark-gray: #586e75;
    --my-light-gray: #657b83;
    --my-lighter-gray: #839496;
    --my-white: #eee8d5;
    --my-light-white: #fdf6e3;
    --my-red: #dc322f;
    --my-magenta: #d33682;
    --my-violet: #6c71c4;
    --my-orange: #cb4b16;
    --my-yellow: #b58900;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--my-orange);
}

body,html {
    width:100%;
    height:100%;
    position:fixed;
    margin: 0;
    padding: 0;
    background-color: var(--my-white);
    color: var(--my-black);
    font-family:  "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
}

header {
    width: 100%;
    margin:0;
    padding:0;
}

.nav-ul {
    background-color: var(--my-lighter-gray);
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#home {
    display: flex;
    align-items: center;
    background-color: var(--my-light-gray);
    height: 100%;
    color: var(--my-black);
    font-weight: bold;
    padding-right: 0.75rem;
    font-size: 0.75rem;
}

.nav-ul li {
    color: var(--my-white);
    height: 100%;
}

.nav-option {
    background-color: var(--my-light-gray);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.exoe-logo {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width:100%;
    height:100%;
}

#app-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:0;
    grid-row-gap:0;
    width:100%;
    height:100%;
}
#app-pane-left, #app-pane-right {
    border: 1px solid var(--my-dark-gray);
}
#app-pane-right { border-left: none; }
#app-pane-left {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 2;
}
#app-pane-right { grid-area: 1 / 2 / 2 / 3; }
#app-pane-full {
    z-index:2;
    grid-area: 1 / 1 / 3 / 3;
}

#text-editor {
    overflow: scroll;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--my-light-white);
    color: var(--my-black);
}

textarea:focus {
    outline: none;
    caret-color: var(--my-black);
}
