/* SOLARIZED */
:root {
    --my-black:      #002b36; --my-blue:         #073642;
    --my-light-blue: #268bd2; --my-cyan:         #2aa198;
    --my-green:      #859900; --my-dark-gray:    #586e75;
    --my-light-gray: #657b83; --my-lighter-gray: #839496;
    --my-white:      #eee8d5; --my-light-white:  #fdf6e3;
    --my-red:        #dc322f; --my-magenta:      #d33682;
    --my-violet:     #6c71c4; --my-orange:       #cb4b16;
    --my-yellow:     #b58900; --my-modal:        #586e7588;
}

/* SOLARIZED */
.col-0 {
    --my-black:      #002b36; --my-blue:         #073642;
    --my-light-blue: #268bd2; --my-cyan:         #2aa198;
    --my-green:      #859900; --my-dark-gray:    #586e75;
    --my-light-gray: #657b83; --my-lighter-gray: #839496;
    --my-white:      #eee8d5; --my-light-white:  #fdf6e3;
    --my-red:        #dc322f; --my-magenta:      #d33682;
    --my-violet:     #6c71c4; --my-orange:       #cb4b16;
    --my-yellow:     #b58900; --my-modal:        #586e7588;
}

/* NORD */
.col-1 {
    --my-black:      #2e3440; --my-blue:         #81a1c1;
    --my-light-blue: #88c0d0; --my-cyan:         #8fbcbb;
    --my-green:      #a3be8c; --my-dark-gray:    #4c566a;
    --my-light-gray: #d8dee9; --my-lighter-gray: #eceff4;
    --my-white:      #e5e9f0; --my-light-white:  #f8f8f2;
    --my-red:        #bf616a; --my-magenta:      #b48ead;
    --my-violet:     #8fbcbb; --my-orange:       #ebcb8b;
    --my-yellow:     #ebcb8b; --my-modal:        #4c566a88;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--my-black);
    color: var(--my-yellow);
}

body,html {
    width:100%;
    height:100%;
    position:fixed;
    margin: 0;
    padding: 0;
    background-color: var(--my-white);
    color: var(--my-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
}

header {
    width: 100%;
    margin:0;
    padding:0;
}

.nav-ul {
    font-family:  "EB Garamond", serif;
    background-color: var(--my-blue);
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border:2px solid var(--my-blue);
}

#home {
    display: flex;
    align-items: center;
    background-color: var(--my-light-gray);
    height: 100%;
    color: var(--my-black);
    font-weight: bold;
    padding-right: 0.75rem;
    font-size: 0.75rem;
}

.nav-ul li {
    color: var(--my-black);
    height: 100%;
}

.nav-option {
    background-color: var(--my-light-gray);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 0.75rem;
}

.exoe-logo {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width:100%;
    height:100%;
}

#app-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 32fr 1fr;
    grid-column-gap:0;
    grid-row-gap:0;
    width:100%;
    height:100%;
}
#app-pane-left, #app-pane-right {
    border: 1px solid var(--my-dark-gray);
}
#app-pane-right {
    background-color: var(--my-light-white);
    border-left: none;
}
#app-pane-left {
    background-color: blue;
    grid-area: 1/1/2/2;
}
#app-pane-right { grid-area: 1/2/2/3; }
#app-footers {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:0;
    grid-row-gap:0;
    width:100%;
    height:100%;
}
#toolbar-editor { background-color: red; grid-area: 1/1/2/2; }
#toolbar-preview { background-color: blue; grid-area: 1/2/2/3; }

/* MODAL OVERLAY */
.modal-overlay {
    z-index: 2;
    grid-area: 1 / 1 / 3 / 3;
    background-color: var(--my-modal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hidden { display: none; }

/* MODAL COMPONENTS */
.modal-symbol-ctr {
    z-index: 3;
    background-color: var(--my-white);
    width: 60%;
    height: 60%;
}

#text-editor {
    overflow: scroll;
    box-sizing: border-box;
    padding:0.75rem;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--my-dark-gray);
    font-family: 'Source Code Pro', monospace;
    color: var(--my-white);
}


textarea:focus {
    outline: none;
    caret-color: var(--my-white);
}

#text-output {
    background-color: var(--my-light-white);
    color: var(--my-black);
    padding: 0.75rem;
}
